[DEFAULT]
PROD_BASE_URL=https://api.etrade.com
PROD_CONSUMER_KEY = xxx-key
PROD_CONSUMER_SECRET = xxx-secret

SANDBOX_BASE_URL=https://apisb.etrade.com
SANDBOX_CONSUMER_KEY = yyy-key
SANDBOX_CONSUMER_SECRET = yyy-secret

